/*Reset*/
   article, aside, details, figcaption, figure, /*footer,*/ header, hgroup, menu, nav, section {
        display: block;
    }
   /* body {
        line-height: 1.75em;
    }*/
    blockquote, q {
        quotes: none;
    }    
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
/* Box Model */
      *, *:before, *:after    {
    /*#main:before, #main:after*/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

/* Basic */
    body {
        position: relative;
    }
        body.is-loading *, body.is-loading *:before, body.is-loading *:after {
            -moz-animation: none !important;
            -webkit-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
            -moz-transition: none !important;
            -webkit-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }
    a {
        -moz-transition: color 0.25s ease-in-out;
        -webkit-transition: color 0.25s ease-in-out;
        -ms-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
    }
    
/* Item */
    .item.thumb {
        display: block;
        position: relative;
        background: #1a1f2c;
        background: rgba(255, 255, 255, 0.25);
        cursor: default;
    }
        .item.thumb h2 {
            position: absolute;
            bottom: 0;
            background: #1a1f2c;
            background: rgba(18, 21, 29, 0.2);
            width: 100%;
            padding: 0.2em 1em 0.2em 0.2em;
            font-weight: 400;
            line-height: 1em;
            z-index: 1;
            text-align: left;
            font-size: 16px;
            opacity: 0.5;
        }
        .item.thumb p {
            position: absolute;
            bottom: 0;
            background: #1a1f2c;
            background: rgba(18, 21, 29, 0.2);
            width: 100%;
            padding: 0.2em 1em 0.2em 0.2em;
            font-weight: 400;
            line-height: 1em;
            z-index: 2;
            text-align: right;
        }
        .item.thumb img {
            display: block;
            z-index: 1;
        }

/* Icons */
    .icon {
        position: relative;
        text-decoration: none;
    }
        .icon:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }
        .icon > .label {
            display: none;
        }

/* Wrapper */
    #wrapper {
        position: relative;
        z-index: 1;
    }

/* Desktop */
    @media screen and (min-width: 737px) {

        /* Basic */
            html {
                height: 100%;
            }
            body {
                /*background-image: url("images/overlay.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
                background-image: url("images/overlay.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
                background-image: url("images/overlay.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");
                background-image: url("images/overlay.png"), linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65)), url("../../images/bg.jpg");*/
                background-position: top left, bottom left, auto;
                background-size: auto, 100% 100%, cover;
                background-repeat: repeat, no-repeat, auto;
                padding: 0;
                height: 100%;
                min-height: 450px;
                min-width: 1000px;
            }

        /* List */
            ul.contact {
                margin-bottom: 0.5em;
            }
                ul.contact li {
                    margin-left: 1em;
                }

        /* Wrapper */
            #wrapper {
                height: 100%;
                overflow: hidden;
                -moz-transition: -moz-filter 0.25s ease-in-out;
                -webkit-transition: -webkit-filter 0.25s ease-in-out;
                -ms-transition: -ms-filter 0.25s ease-in-out;
                transition: filter 0.25s ease-in-out;
            }
                #wrapper.overlayed {
                    -moz-filter: blur(3px);
                    -webkit-filter: blur(3px);
                    -ms-filter: blur(3px);
                    filter: blur(3px);
                }

        /* Main */
            #main {
                width: 100%;
                position: absolute;
            }

        /* Reel */
            #reel {
                position: relative;
                opacity: 0;
            }
                #reel .item {
                    display: block;
                    float: left;
                    position: relative;
                    overflow: hidden;
                }

        /* Header */

            
            #reel #header .header-desktop {
                padding: 0px 15px 0px 10px;
                text-align: justify; 
            }

            #reel #header .header-desktop p, #reel #header .header-desktop h1{
                text-indent: 15px;
                margin-top:6px;
            }
            #reel #header .header-desktop p.lastNews{
                font-size:21px;
                /*font-weight: 600;   */
            }           
            #reel #header .header-desktop .popupSimple p{
                text-indent: 20px;
               /* margin-top:12px;*/
            }
            #reel #header .header-desktop p.header-desktop-underline{
                box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
                padding-bottom: 12px;
                line-height: 22px;   
            }
            #reel #header .header-desktop span.floatleft{
                float:left;
            }            
            #reel #header .header-desktop p.header-desktop-bootomp{
                margin-bottom: 8px;
            }            
            #reel #header .header-desktop li h2{
                float:left;
            } 
            #header .header-mobile, #header .header-mobile-text  {
                display: none;
            }
        /* Popup */

            .poptrox-popup {
                background: #1a1f2c;
                background: rgba(18, 21, 29, 0.9);
                box-shadow: 0px 0px 0px 10px #fff, 0px 10px 60px 10px rgba(8, 11, 19, 0.55);
                cursor: default;
            }

                .poptrox-popup .loader {
                    display: block;
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -24px 0 0 -24px;
                    background: url("images/loader.gif");
                    opacity: 0.25;
                }

                .poptrox-popup .caption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #1a1f2c;
                    background: rgba(18, 21, 29, 0.4);
                    display: block;
                    width: 100%;
                    line-height: 40px;
                    text-align: center;
                    font-size: 1.25em;
                    color: #fff;
                }

                .poptrox-popup .nav-next, .poptrox-popup .nav-previous, .poptrox-popup .closer {
                    text-decoration: none;
                    font-weight: normal;
                    font-style: normal;
                    -moz-transition: opacity 0.25s ease-in-out;
                    -webkit-transition: opacity 0.25s ease-in-out;
                    -ms-transition: opacity 0.25s ease-in-out;
                    transition: opacity 0.25s ease-in-out;
                    opacity: 0.35;
                }

                    .poptrox-popup .nav-next:hover, .poptrox-popup .nav-previous:hover, .poptrox-popup .closer:hover {
                        opacity: 1.0;
                    }

                .poptrox-popup .nav-next, .poptrox-popup .nav-previous {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    /*font-family: FontAwesome;*/
                    font-style: normal;
                    font-weight: normal;
                    text-transform: none !important;
                    width: 49%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    cursor: pointer;
                    font-size: 3em;
                    /*line-height: 75px;*/
                    padding-top: 40%; 
                }

                .poptrox-popup .nav-next {
                    right: 0;
                    text-align: right;
                    padding-right: 30px;
                }

                    .poptrox-popup .nav-next:before {
                        content: '>';
                    }

                .poptrox-popup .nav-previous {
                    left: 0;
                    text-align: left;
                    padding-left: 30px;
                }

                    .poptrox-popup .nav-previous:before {
                        content: '<';
                    }

                .poptrox-popup .closer {
                    width: 35px;
                    height: 35px;
                    font-size: 2em;
                    line-height: 35px;
                    text-align: center;
                    position: absolute;
                    top: -70px;
                    right: -70px;
                    cursor: pointer;
                    border-radius: 40px;
                    box-shadow: 0px 0px 0px 1px #fff;
                }

                    .poptrox-popup .closer:before {
                        content: "Ð¥";
                    }

    }

/* Mobile */

    @media screen and (max-width: 736px) {

        /* List */
        /*    ul.contact li {
                margin: 0 0.35em 0 0.35em;
            }*/

        /* Item */

            .item {
                border: 0;
            }

                .item.thumb {
                    width: 50%;
                    float: left;
                    height: 9em;
                    position: relative;
                }

                    .item.thumb h2 {
                        display: none;
                    }

                    .item.thumb a {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .item.thumb img {
                        display: none;
                    }

        /* Wrapper */

            #wrapper.overlayed {
                -moz-filter: blur(1px);
                -webkit-filter: blur(1px);
                -ms-filter: blur(1px);
                filter: blur(1px);
            }
        
/*            #head {
                display:none;
            }*/

        /* Main */

            #main {
                overflow: hidden;
            }

        /* Footer */


        /* Popup */

            .poptrox-popup {
                background: #0a0f1c;
                box-shadow: 0px 0px 30px 10px rgba(8, 11, 19, 0.85);
                border: solid 2.5px #fff;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -ms-box-sizing: content-box;
                box-sizing: content-box;
            }

    }
    

    